# Flutter/Dart
.dart_tool/
build/
.flutter-plugins
.flutter-plugins-dependencies
pubspec.lock
**/ephemeral/
android/.kotlin/
# Android
android/local.properties
android/.gradle/
android/app/build/

# iOS/macOS
ios/Flutter/Generated.xcconfig
ios/Flutter/ephemeral/
ios/Flutter/flutter_export_environment.sh
macos/Flutter/ephemeral/
macos/Flutter/GeneratedPluginRegistrant.swift

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db
